
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.about-me, .contact1,.search{
    height:.2rem;
    margin-bottom:.2rem;
}
.container{
    padding: 2rem; 
    margin: 0px;
    width:auto;
    border: .3rem solid lightslategray;
    background-color:lightgrey;
    
}
.nav{
    border: .3rem solid lightslategray;
    width:auto;
    padding: 2rem; 
    background-color:lightgrey;
    width:100%;
    margin:0px;
    display: flex;
    justify-content:space-between;
}

.mission-container{
    padding: 2rem; 
    margin: 0px;
    width:auto;
    border: .3rem solid lightslategray;
    background-color:lightgrey;
    

}

.mission{
    border: .3rem solid lightslategray;
    width:auto;
    padding: 2rem; 
    background-color:lightgrey;
    width:100%;
    margin:0px;
    display: flex;
    flex-direction: row; 
    align-items:flex-start;  
}

a:hover{
    display:inline-block;
    border-radius: 2px solid lightgrey;
    margin:10px;
    padding:5px;
    width: 5px;
    text-decoration:none;
   

}