
*{
  box-sizing: border-box;

}
.main-nav{
  background-color: powderblue;
  border: 1rem solid #00008b;
  margin: 2rem 4rem 2rem;
   
}
.sub-main{
  border:1rem solid darkblue;
  margin: 2rem 4rem 2rem;
  padding: 10%;
   
}

 
